:root{
    --primary-color : #1d3557;
}
header, footer,.text-area
{
    background-color: var(--primary-color);
}
#bottons button{
    min-width: 49.5%;
}
#Output
{
    min-height: 193px;
}
@media only screen and ( max-width:550px){
    #bottons button{
        min-width: 90%;
    }
}